@import "normalize";

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym,
address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    font-size: 100%;
    margin: 0;
    padding: 0;
    /*vertical-align: baseline;*/
    font-weight: inherit;
}

$white: #FFFFFF;
$black: #646D68;
$lightBlue: #6995AE;
$darkBlue:  #507FAB;
/* grey scale */
$lightGrey:  #EEEEEE;
$grey:       #CCCCCC;
$darkGrey:   #777777;

body {
    background: none repeat scroll 0 0 $black;
    padding: 0 2em;
    color: $black;
    font: 300 15px/1.625 "Helvetica Neue",Helvetica,Arial,sans-serif;
}

cite, em, i {
    font-style: italic;
}

code, kbd {
    font: 13px Monaco,Consolas,"Andale Mono","DejaVu Sans Mono",monospace;
}

pre {
    background: $lightGrey;
    border: 1px solid $grey;
    margin: 0 15px 1.2em;
    padding: 3px;
}

thead {
    font-weight: bold;
}

table {
    background: $lightGrey;
}

th, td {
    padding: 0 0.5em;
    border: 1px solid $black;
}

blockquote {
    font-family: Georgia,"Bitstream Charter",serif;
    font-style: italic;
    font-weight: normal;
    margin: 0 3em;
}

a {
    color: $lightBlue;
    text-decoration: none;
}

a img {
    border: 0 none;
}

#page {
    background: none repeat scroll 0 0 $white;
    margin: 2em auto;
    max-width: 940px;;
}

#branding {
    padding-bottom: 10px;
    position: relative;
    z-index: 2;
}

#branding hgroup {
    margin: 0 3.6%;
}

#branding img {
    height: auto;
    margin-bottom: -7px;
}

#rss {
    float: right;
    margin-top: -128px;
    margin-right: -50px;
}

#site-title {
    margin-right: 270px;
    padding: 1.8em 0 0;
}

#site-title a {
    color: $black;
    font-size: 30px;
    font-weight: bold;
    line-height: 36px;
    text-decoration: none;
}

#site-description {
    color: $darkBlue;
    font-size: 14px;
    margin: 0 270px 1.65625em 0;
}

@mixin blue-gradiant($top, $bottom) {
  background: -moz-linear-gradient($top, $bottom);  /* Firefox */
  background: -webkit-linear-gradient($top, $bottom); /* Safari, Chrome */
  background: -o-linear-gradient($top, $bottom); /* Opera */
  background: -ms-linear-gradient($top, $bottom); /* IE */
  background: linear-gradient($top, $bottom); /* W3C Standard */
}

#access {
    @include blue-gradiant($darkBlue, $lightBlue);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    clear: both;
    display: block;
    float: left;
    margin: 0 auto 6px;
    width: 100%;
}

#access div {
    margin: 0 3.6%;
}

#access a {
    color: $lightGrey;
    display: block;
    line-height: 3.333em;
    padding: 0 1.2125em;
    text-decoration: none;
}

#access .current_page_item > a {
    font-weight: bold;
}

#access ul {
    font-size: 13px;
    list-style: none outside none;
    margin: 0 0 0 -0.8125em;
    padding-left: 0;
}

#access li {
    float: left;
    position: relative;
}

.assistive-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
}

#main {
    clear: both;
    padding: 1.625em 0 0;
}

#primary {
    float: right;
    margin: 0 0 0 -26.4%;
    width: 100%;
}

#primary ul {
    color: $black;
    list-style: none;
    margin-bottom: 1.2em;
    margin-left: 10px;
}

#primary ul li:before{
  content:  "–";
  position: relative;
  left:     -5px;
}

#primary ul li{
  text-indent:-5px;
}

#content {
    margin: 0 7.6% 2% 34%;
    width: 58.4%;
}

#content h2 {
    font-size: 2.2em;
    line-height: 1.2em;
    margin-bottom: 0.6em;
}

#secondary {
    float: left;
    margin-left: 7.6%;
    margin-right: 0;
    width: 18.8%;
    font-size: 12px;
}

#secondary ul {
    list-style: none;
}

#secondary aside {
    clear: both;
    margin: 0 0 2.2em;
}

.meta {
    color: $black;
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 0.1em;
    line-height: 2.6em;
    text-transform: uppercase;
}

#secondary aside ul {
    font-size: 15px;
    margin: 0;
}

#secondary aside ul li {
    color: $darkGrey;
    font-size: 13px;
}

#secondary aside a {
    font-weight: bold;
    text-decoration: none;
}

footer {
    @include blue-gradiant($lightBlue, $darkBlue);
    clear: both;
    border-top: 1px solid $black;
    color: $lightGrey;
    font-size: 12px;
    line-height: 1.2em;
    padding: 1.2em 0.5em;
    text-align: center;
}

footer a {
    color: $lightGrey;
    font-weight: bold;
}

article p {
    margin-bottom: 1.625em;
}