# from tools and IDEs
.idea
.sass-cache
*.sublime-*
*.sublime-*
/nbproject

# config
config/blog.yml
config/proxy.json

# generated stuff
*.html
*.xml

# other
htdocs/.htaccess
htdocs/redirect.php
*.sqlite
