<article>
    <strong class="meta">Posted <%= date_formatted %></strong>
    <%= @content %>
</article>

<% if @prevPost or @nextPost %>
<nav id="pagination">
  <% if @prevPost %>
    <a href="<%= @prevPost %>">&laquo; previous post</a>
  <% end %>

  <% if @prevPost and @nextPost %>
      &ndash;
  <% end %>

  <% if @nextPost %>
    <a href="<%= @nextPost %>">next post &raquo;</a>
  <% end %>
</nav>
<% end %>