<!DOCTYPE html public "for-legacy-parsers">
<html>
    <head>
        <title>Das Weltraumschaf | <%= @title %></title>
        <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
        <link href="<%= @siteUrl %>css/normalize.css" rel="stylesheet" type="text/css" media="screen"/>
        <link href="<%= @siteUrl %>css/main.css" rel="stylesheet" type="text/css" media="screen"/>
        <link href="<%= @siteUrl %>img/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
    </head>
    <body>
        <header>
            <h1>Das Weltraumschaf</h1>
            <h2>The Music Making Space Animal</h2>
        </header>

        <nav>
            <a href="<%= @siteUrl %>index.html">Home</a>
        </nav>

        <article>
            <strong><%= @date %></strong><br/>
            <%= @content %>
        </article>
    </body>
</html>